ServiciosRestMultiUrl/ServiciosRestMultiUrl/WSDL_1491032983.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions targetNamespace="http://bst.izzi.mx/ws" xmlns:tns="http://bst.izzi.mx/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws" schemaLocation="XMLSchema_-1338642948.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.openuri.org/" schemaLocation="XMLSchema_945189780.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses/BuscarDetalleReservacionResponse" schemaLocation="XMLSchema_1942207412.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses" schemaLocation="XMLSchema_662343734.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarOperatingCompanyResponse" schemaLocation="XMLSchema_-2125071753.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarTelephoneNumber800Response" schemaLocation="XMLSchema_-617519944.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos" schemaLocation="XMLSchema_890031865.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/TelephoneNumber" schemaLocation="XMLSchema_-1897383622.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/Series800" schemaLocation="XMLSchema_1203985104.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarDetalleReservacionResponse" schemaLocation="XMLSchema_168908861.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/GAInstance" schemaLocation="XMLSchema_1676460670.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.sql.mx/ws/responses" schemaLocation="XMLSchema_-1110954817.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarNir800Response" schemaLocation="XMLSchema_396596992.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses/BuscarPortedTelephoneNumbersResponse" schemaLocation="XMLSchema_1904148801.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses/BuscarNir800Response" schemaLocation="XMLSchema_-883266686.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarSeries800Response" schemaLocation="XMLSchema_624285123.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses/buscarSeries800Response" schemaLocation="XMLSchema_2131836932.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/NIR" schemaLocation="XMLSchema_-2069913838.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/NiRequestDetail" schemaLocation="XMLSchema_-562362029.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/NaNetworkArea" schemaLocation="XMLSchema_-1842225707.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/Serie" schemaLocation="XMLSchema_-334673898.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/TelephoneNumber800" schemaLocation="XMLSchema_1172877911.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://modelos.sql.mx" schemaLocation="XMLSchema_-1614537576.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/CompletarDueDateResponse" schemaLocation="XMLSchema_-106985767.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/PortedTelephoneNumber" schemaLocation="XMLSchema_1400566042.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/Company" schemaLocation="XMLSchema_-1386849445.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarTelephoneNumberResponse" schemaLocation="XMLSchema_1714519281.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses/BuscarTelephoneNumber800Response" schemaLocation="XMLSchema_-1072896206.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses/BuscarOperatingCompanyResponse" schemaLocation="XMLSchema_434655603.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/Nir800" schemaLocation="XMLSchema_-845208075.xsd"/>
</xsd:schema>
</types>
<message name="completarDueDateRequest">
<part name="parameters" element="tns:completarDueDateRequest"/>
</message>
<message name="completarDueDateRequestResponse">
<part name="parameters" element="tns:completarDueDateRequestResponse"/>
</message>
<message name="WSException_Exception">
<part name="fault" element="ns1:WSException" xmlns:ns1="http://www.openuri.org/"/>
</message>
<message name="notificacionToSF">
<part name="parameters" element="tns:notificacionToSF"/>
</message>
<message name="notificacionToSFResponse">
<part name="parameters" element="tns:notificacionToSFResponse"/>
</message>
<message name="getGAInstance">
<part name="parameters" element="tns:getGAInstance"/>
</message>
<message name="getGAInstanceResponse">
<part name="parameters" element="tns:getGAInstanceResponse"/>
</message>
<message name="getASL">
<part name="parameters" element="tns:getASL"/>
</message>
<message name="getASLResponse">
<part name="parameters" element="tns:getASLResponse"/>
</message>
<message name="getNIR">
<part name="parameters" element="tns:getNIR"/>
</message>
<message name="getNIRResponse">
<part name="parameters" element="tns:getNIRResponse"/>
</message>
<message name="getSerie">
<part name="parameters" element="tns:getSerie"/>
</message>
<message name="getSerieResponse">
<part name="parameters" element="tns:getSerieResponse"/>
</message>
<message name="getTelephoneNumber">
<part name="parameters" element="tns:getTelephoneNumber"/>
</message>
<message name="getTelephoneNumberResponse">
<part name="parameters" element="tns:getTelephoneNumberResponse"/>
</message>
<message name="getOperatingCompanies">
<part name="parameters" element="tns:getOperatingCompanies"/>
</message>
<message name="getOperatingCompaniesResponse">
<part name="parameters" element="tns:getOperatingCompaniesResponse"/>
</message>
<message name="getDetalleReservaTN">
<part name="parameters" element="tns:getDetalleReservaTN"/>
</message>
<message name="getDetalleReservaTNResponse">
<part name="parameters" element="tns:getDetalleReservaTNResponse"/>
</message>
<message name="getPortedTelephoneNumbers">
<part name="parameters" element="tns:getPortedTelephoneNumbers"/>
</message>
<message name="getPortedTelephoneNumbersResponse">
<part name="parameters" element="tns:getPortedTelephoneNumbersResponse"/>
</message>
<message name="getNir800">
<part name="parameters" element="tns:getNir800"/>
</message>
<message name="getNir800Response">
<part name="parameters" element="tns:getNir800Response"/>
</message>
<message name="getSeries800">
<part name="parameters" element="tns:getSeries800"/>
</message>
<message name="getSeries800Response">
<part name="parameters" element="tns:getSeries800Response"/>
</message>
<message name="getTelephoneNumber800">
<part name="parameters" element="tns:getTelephoneNumber800"/>
</message>
<message name="getTelephoneNumber800Response">
<part name="parameters" element="tns:getTelephoneNumber800Response"/>
</message>
<message name="getTelephoneNumberV2">
<part name="parameters" element="tns:getTelephoneNumberV2"/>
</message>
<message name="getTelephoneNumberV2Response">
<part name="parameters" element="tns:getTelephoneNumberV2Response"/>
</message>
<message name="getSerieV2">
<part name="parameters" element="tns:getSerieV2"/>
</message>
<message name="getSerieV2Response">
<part name="parameters" element="tns:getSerieV2Response"/>
</message>
<message name="getNIRV2">
<part name="parameters" element="tns:getNIRV2"/>
</message>
<message name="getNIRV2Response">
<part name="parameters" element="tns:getNIRV2Response"/>
</message>
<portType name="WorkManagement">
<operation name="completarDueDateRequest">
<input ns2:Action="http://bst.izzi.mx/ws/WorkManagement/completarDueDateRequestRequest" message="tns:completarDueDateRequest" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns3:Action="http://bst.izzi.mx/ws/WorkManagement/completarDueDateRequestResponse" message="tns:completarDueDateRequestResponse" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns4:Action="http://bst.izzi.mx/ws/WorkManagement/completarDueDateRequest/Fault/WSException_Exception" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="notificacionToSF">
<input ns5:Action="http://bst.izzi.mx/ws/WorkManagement/notificacionToSFRequest" message="tns:notificacionToSF" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns6:Action="http://bst.izzi.mx/ws/WorkManagement/notificacionToSFResponse" message="tns:notificacionToSFResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns7:Action="http://bst.izzi.mx/ws/WorkManagement/notificacionToSF/Fault/WSException_Exception" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getGAInstance">
<input ns8:Action="http://bst.izzi.mx/ws/WorkManagement/getGAInstanceRequest" message="tns:getGAInstance" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns9:Action="http://bst.izzi.mx/ws/WorkManagement/getGAInstanceResponse" message="tns:getGAInstanceResponse" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns10:Action="http://bst.izzi.mx/ws/WorkManagement/getGAInstance/Fault/WSException_Exception" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getASL">
<input ns11:Action="http://bst.izzi.mx/ws/WorkManagement/getASLRequest" message="tns:getASL" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns12:Action="http://bst.izzi.mx/ws/WorkManagement/getASLResponse" message="tns:getASLResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns13:Action="http://bst.izzi.mx/ws/WorkManagement/getASL/Fault/WSException_Exception" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getNIR">
<input ns14:Action="http://bst.izzi.mx/ws/WorkManagement/getNIRRequest" message="tns:getNIR" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns15:Action="http://bst.izzi.mx/ws/WorkManagement/getNIRResponse" message="tns:getNIRResponse" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns16:Action="http://bst.izzi.mx/ws/WorkManagement/getNIR/Fault/WSException_Exception" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getSerie">
<input ns17:Action="http://bst.izzi.mx/ws/WorkManagement/getSerieRequest" message="tns:getSerie" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns18:Action="http://bst.izzi.mx/ws/WorkManagement/getSerieResponse" message="tns:getSerieResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns19:Action="http://bst.izzi.mx/ws/WorkManagement/getSerie/Fault/WSException_Exception" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getTelephoneNumber">
<input ns20:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumberRequest" message="tns:getTelephoneNumber" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns21:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumberResponse" message="tns:getTelephoneNumberResponse" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns22:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumber/Fault/WSException_Exception" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getOperatingCompanies">
<input ns23:Action="http://bst.izzi.mx/ws/WorkManagement/getOperatingCompaniesRequest" message="tns:getOperatingCompanies" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns24:Action="http://bst.izzi.mx/ws/WorkManagement/getOperatingCompaniesResponse" message="tns:getOperatingCompaniesResponse" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns25:Action="http://bst.izzi.mx/ws/WorkManagement/getOperatingCompanies/Fault/WSException_Exception" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getDetalleReservaTN">
<input ns26:Action="http://bst.izzi.mx/ws/WorkManagement/getDetalleReservaTNRequest" message="tns:getDetalleReservaTN" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns27:Action="http://bst.izzi.mx/ws/WorkManagement/getDetalleReservaTNResponse" message="tns:getDetalleReservaTNResponse" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns28:Action="http://bst.izzi.mx/ws/WorkManagement/getDetalleReservaTN/Fault/WSException_Exception" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getPortedTelephoneNumbers">
<input ns29:Action="http://bst.izzi.mx/ws/WorkManagement/getPortedTelephoneNumbersRequest" message="tns:getPortedTelephoneNumbers" xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns30:Action="http://bst.izzi.mx/ws/WorkManagement/getPortedTelephoneNumbersResponse" message="tns:getPortedTelephoneNumbersResponse" xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns31:Action="http://bst.izzi.mx/ws/WorkManagement/getPortedTelephoneNumbers/Fault/WSException_Exception" xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getNir800">
<input ns32:Action="http://bst.izzi.mx/ws/WorkManagement/getNir800Request" message="tns:getNir800" xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns33:Action="http://bst.izzi.mx/ws/WorkManagement/getNir800Response" message="tns:getNir800Response" xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns34:Action="http://bst.izzi.mx/ws/WorkManagement/getNir800/Fault/WSException_Exception" xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getSeries800">
<input ns35:Action="http://bst.izzi.mx/ws/WorkManagement/getSeries800Request" message="tns:getSeries800" xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns36:Action="http://bst.izzi.mx/ws/WorkManagement/getSeries800Response" message="tns:getSeries800Response" xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns37:Action="http://bst.izzi.mx/ws/WorkManagement/getSeries800/Fault/WSException_Exception" xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getTelephoneNumber800">
<input ns38:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumber800Request" message="tns:getTelephoneNumber800" xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns39:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumber800Response" message="tns:getTelephoneNumber800Response" xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns40:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumber800/Fault/WSException_Exception" xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getTelephoneNumberV2">
<input ns41:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumberV2Request" message="tns:getTelephoneNumberV2" xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns42:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumberV2Response" message="tns:getTelephoneNumberV2Response" xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns43:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumberV2/Fault/WSException_Exception" xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getSerieV2">
<input ns44:Action="http://bst.izzi.mx/ws/WorkManagement/getSerieV2Request" message="tns:getSerieV2" xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns45:Action="http://bst.izzi.mx/ws/WorkManagement/getSerieV2Response" message="tns:getSerieV2Response" xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns46:Action="http://bst.izzi.mx/ws/WorkManagement/getSerieV2/Fault/WSException_Exception" xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getNIRV2">
<input ns47:Action="http://bst.izzi.mx/ws/WorkManagement/getNIRV2Request" message="tns:getNIRV2" xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns48:Action="http://bst.izzi.mx/ws/WorkManagement/getNIRV2Response" message="tns:getNIRV2Response" xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns49:Action="http://bst.izzi.mx/ws/WorkManagement/getNIRV2/Fault/WSException_Exception" xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
</portType>
</definitions>