ServiciosRestMultiUrl/ServiciosRestMultiUrl/XMLSchema_1400566042.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema xmlns:ns0="http://bst.izzi.mx/ws/responses/modelos/PortedTelephoneNumber" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bst.izzi.mx/ws/responses/modelos/PortedTelephoneNumber"><xsd:element name="acctNbr" type="xsd:int"/><xsd:element name="companyName" type="xsd:string"/><xsd:element name="idProduct" type="xsd:int"/><xsd:element name="aliasProduct" type="xsd:string"/><xsd:element name="itemID" type="xsd:int"/><xsd:element name="itemAlias" type="xsd:string"/><xsd:element name="inventoryID" type="xsd:int"/><xsd:element name="tnLine" type="xsd:string"/><xsd:element name="telNbrTypeCode" type="xsd:string"/><xsd:element name="label" type="xsd:string"/><xsd:element name="valueLabel" type="xsd:string"/><xsd:element name="ocn" type="xsd:string"/></xsd:schema>