SfM6Services/Sfm6Services/SfDueDate/XSD/XMLSchema_-1967821732.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema targetNamespace="http://bst.izzi.mx/ws" xmlns:ns0="http://bst.izzi.mx/ws" xmlns:ns1="http://bst.izzi.mx/ws/responses/CompletarDueDateResponse" xmlns:ns2="http://bst.izzi.ms/ws/responses" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import schemaLocation="XMLSchema_-581618338.xsd" namespace="http://bst.izzi.mx/ws/responses/CompletarDueDateResponse"/><xsd:import schemaLocation="XMLSchema_111483359.xsd" namespace="http://bst.izzi.ms/ws/responses"/><xsd:complexType name="completarDueDateRequest"><xsd:sequence><xsd:element name="numeroPSR" type="xsd:int"/><xsd:element name="billActivationDate" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:complexType name="completarDueDateRequestResponse"><xsd:sequence><xsd:element ref="ns2:completarDueDateResponse" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="completarDueDateResponse"><xsd:sequence><xsd:element ref="ns1:codigoRespuesta"/><xsd:element ref="ns1:mensajeRespuesta"/></xsd:sequence></xsd:complexType><xsd:element name="completarDueDateRequest" type="ns0:completarDueDateRequest"/><xsd:element name="completarDueDateRequestResponse" type="ns0:completarDueDateRequestResponse"/><xsd:element name="completarDueDateResponse" type="ns0:completarDueDateResponse"/></xsd:schema>