WSsSFtoM6Telefonia/Sfm6Services/WSTelefonia/WADL/WSTelefoniaRS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="WSTelefoniaRS">WSTelefoniaRS</doc>
   <resources>
      <resource path="/UpdateReservationRequest">
         <method name="POST" soa:name="UpdateReservationRequest">
            <doc title="POST UpdateReservationRequest">UpdateReservationRequest</doc>
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/reserveTn">
         <method name="POST" soa:name="reserveTn">
            <doc title="POST reserveTn">reserveTn</doc>
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getGAInstance">
         <method name="GET" soa:name="getGAInstance">
            <request>
               <param name="gaInstanceID" style="query" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getASL">
         <method name="POST" soa:name="getASL">
            <doc title="POST getASL">Operacion GetASL</doc>
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getNIR">
         <method name="GET" soa:name="getNIR">
            <doc title="GET getNIR">Operacion getNIR</doc>
            <request>
               <param name="aslID" style="query" type="xsd:string">
                  <doc title="aslID">Id del ASL</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getSerie">
         <method name="GET" soa:name="getSerie">
            <doc title="GET getSerie">operacion getSerie</doc>
            <request>
               <param name="nirID" style="query" type="xsd:string">
                  <doc title="nirID">Id de NIR</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
