WSsSFtoM6Telefonia/Sfm6Services/WSTelefonia/WSDL/WSDL_1491032983.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions targetNamespace="http://bst.izzi.mx/ws" xmlns:tns="http://bst.izzi.mx/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws" schemaLocation="../Schemas/XMLSchema_-1338642948.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.openuri.org/" schemaLocation="../Schemas/XMLSchema_945189780.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses/BuscarDetalleReservacionResponse" schemaLocation="../Schemas/XMLSchema_-334673898.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarOperatingCompanyResponse" schemaLocation="../Schemas/XMLSchema_1172877911.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/NIR" schemaLocation="../Schemas/XMLSchema_-1614537576.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/NiRequestDetail" schemaLocation="../Schemas/XMLSchema_-106985767.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/NaNetworkArea" schemaLocation="../Schemas/XMLSchema_1400566042.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/Serie" schemaLocation="../Schemas/XMLSchema_-1386849445.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses" schemaLocation="../Schemas/XMLSchema_1714519281.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://modelos.sql.mx" schemaLocation="../Schemas/XMLSchema_168908861.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/CompletarDueDateResponse" schemaLocation="../Schemas/XMLSchema_1676460670.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses" schemaLocation="../Schemas/XMLSchema_-1110954817.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos" schemaLocation="../Schemas/XMLSchema_396596992.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://modelos.izzi.mx/TelephoneNumber" schemaLocation="../Schemas/XMLSchema_1904148801.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarDetalleReservacionResponse" schemaLocation="../Schemas/XMLSchema_-883266686.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/Company" schemaLocation="../Schemas/XMLSchema_624285123.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/modelos/GAInstance" schemaLocation="../Schemas/XMLSchema_2131836932.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.mx/ws/responses/BuscarTelephoneNumberResponse" schemaLocation="../Schemas/XMLSchema_-2069913838.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.sql.mx/ws/responses" schemaLocation="../Schemas/XMLSchema_-562362029.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bst.izzi.ms/ws/responses/BuscarOperatingCompanyResponse" schemaLocation="../Schemas/XMLSchema_-1842225707.xsd"/>
</xsd:schema>
</types>
<message name="completarDueDateRequest">
<part name="parameters" element="tns:completarDueDateRequest"/>
</message>
<message name="completarDueDateRequestResponse">
<part name="parameters" element="tns:completarDueDateRequestResponse"/>
</message>
<message name="WSException_Exception">
<part name="fault" element="ns1:WSException" xmlns:ns1="http://www.openuri.org/"/>
</message>
<message name="notificacionToSF">
<part name="parameters" element="tns:notificacionToSF"/>
</message>
<message name="notificacionToSFResponse">
<part name="parameters" element="tns:notificacionToSFResponse"/>
</message>
<message name="getGAInstance">
<part name="parameters" element="tns:getGAInstance"/>
</message>
<message name="getGAInstanceResponse">
<part name="parameters" element="tns:getGAInstanceResponse"/>
</message>
<message name="getASL">
<part name="parameters" element="tns:getASL"/>
</message>
<message name="getASLResponse">
<part name="parameters" element="tns:getASLResponse"/>
</message>
<message name="getNIR">
<part name="parameters" element="tns:getNIR"/>
</message>
<message name="getNIRResponse">
<part name="parameters" element="tns:getNIRResponse"/>
</message>
<message name="getSerie">
<part name="parameters" element="tns:getSerie"/>
</message>
<message name="getSerieResponse">
<part name="parameters" element="tns:getSerieResponse"/>
</message>
<message name="getTelephoneNumber">
<part name="parameters" element="tns:getTelephoneNumber"/>
</message>
<message name="getTelephoneNumberResponse">
<part name="parameters" element="tns:getTelephoneNumberResponse"/>
</message>
<message name="getOperatingCompanies">
<part name="parameters" element="tns:getOperatingCompanies"/>
</message>
<message name="getOperatingCompaniesResponse">
<part name="parameters" element="tns:getOperatingCompaniesResponse"/>
</message>
<message name="getDetalleReservaTN">
<part name="parameters" element="tns:getDetalleReservaTN"/>
</message>
<message name="getDetalleReservaTNResponse">
<part name="parameters" element="tns:getDetalleReservaTNResponse"/>
</message>
<portType name="WorkManagement">
<operation name="completarDueDateRequest">
<input ns2:Action="http://bst.izzi.mx/ws/WorkManagement/completarDueDateRequestRequest" message="tns:completarDueDateRequest" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns3:Action="http://bst.izzi.mx/ws/WorkManagement/completarDueDateRequestResponse" message="tns:completarDueDateRequestResponse" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns4:Action="http://bst.izzi.mx/ws/WorkManagement/completarDueDateRequest/Fault/WSException_Exception" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="notificacionToSF">
<input ns5:Action="http://bst.izzi.mx/ws/WorkManagement/notificacionToSFRequest" message="tns:notificacionToSF" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns6:Action="http://bst.izzi.mx/ws/WorkManagement/notificacionToSFResponse" message="tns:notificacionToSFResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns7:Action="http://bst.izzi.mx/ws/WorkManagement/notificacionToSF/Fault/WSException_Exception" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getGAInstance">
<input ns8:Action="http://bst.izzi.mx/ws/WorkManagement/getGAInstanceRequest" message="tns:getGAInstance" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns9:Action="http://bst.izzi.mx/ws/WorkManagement/getGAInstanceResponse" message="tns:getGAInstanceResponse" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns10:Action="http://bst.izzi.mx/ws/WorkManagement/getGAInstance/Fault/WSException_Exception" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getASL">
<input ns11:Action="http://bst.izzi.mx/ws/WorkManagement/getASLRequest" message="tns:getASL" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns12:Action="http://bst.izzi.mx/ws/WorkManagement/getASLResponse" message="tns:getASLResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns13:Action="http://bst.izzi.mx/ws/WorkManagement/getASL/Fault/WSException_Exception" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getNIR">
<input ns14:Action="http://bst.izzi.mx/ws/WorkManagement/getNIRRequest" message="tns:getNIR" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns15:Action="http://bst.izzi.mx/ws/WorkManagement/getNIRResponse" message="tns:getNIRResponse" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns16:Action="http://bst.izzi.mx/ws/WorkManagement/getNIR/Fault/WSException_Exception" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getSerie">
<input ns17:Action="http://bst.izzi.mx/ws/WorkManagement/getSerieRequest" message="tns:getSerie" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns18:Action="http://bst.izzi.mx/ws/WorkManagement/getSerieResponse" message="tns:getSerieResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns19:Action="http://bst.izzi.mx/ws/WorkManagement/getSerie/Fault/WSException_Exception" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getTelephoneNumber">
<input ns20:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumberRequest" message="tns:getTelephoneNumber" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns21:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumberResponse" message="tns:getTelephoneNumberResponse" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns22:Action="http://bst.izzi.mx/ws/WorkManagement/getTelephoneNumber/Fault/WSException_Exception" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getOperatingCompanies">
<input ns23:Action="http://bst.izzi.mx/ws/WorkManagement/getOperatingCompaniesRequest" message="tns:getOperatingCompanies" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns24:Action="http://bst.izzi.mx/ws/WorkManagement/getOperatingCompaniesResponse" message="tns:getOperatingCompaniesResponse" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns25:Action="http://bst.izzi.mx/ws/WorkManagement/getOperatingCompanies/Fault/WSException_Exception" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
<operation name="getDetalleReservaTN">
<input ns26:Action="http://bst.izzi.mx/ws/WorkManagement/getDetalleReservaTNRequest" message="tns:getDetalleReservaTN" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"/>
<output ns27:Action="http://bst.izzi.mx/ws/WorkManagement/getDetalleReservaTNResponse" message="tns:getDetalleReservaTNResponse" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata"/>
<fault message="tns:WSException_Exception" name="WSException_Exception" ns28:Action="http://bst.izzi.mx/ws/WorkManagement/getDetalleReservaTN/Fault/WSException_Exception" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"/>
</operation>
</portType>
</definitions>