WSsSFtoM6Telefonia/WSsfm6Services/WSTelefonia/WSDL/ResourceReservationsService.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions targetNamespace="http://src.oracle.com/" name="ResourceReservationsService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://src.oracle.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://src.oracle.com/" schemaLocation="../XSD/XMLSchema_-1486410019.xsd"/>
</xsd:schema>
</types>
<message name="fetchResourceType">
<part name="parameters" element="tns:fetchResourceType"/>
</message>
<message name="fetchResourceTypeResponse">
<part name="parameters" element="tns:fetchResourceTypeResponse"/>
</message>
<message name="createReserveResource">
<part name="parameters" element="tns:createReserveResource"/>
</message>
<message name="createReserveResourceResponse">
<part name="parameters" element="tns:createReserveResourceResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="updateReservationRequest">
<part name="parameters" element="tns:updateReservationRequest"/>
</message>
<message name="updateReservationRequestResponse">
<part name="parameters" element="tns:updateReservationRequestResponse"/>
</message>
<message name="getCircuitInfo">
<part name="parameters" element="tns:getCircuitInfo"/>
</message>
<message name="getCircuitInfoResponse">
<part name="parameters" element="tns:getCircuitInfoResponse"/>
</message>
<portType name="ResourceReservations">
<operation name="fetchResourceType">
<input wsam:Action="http://src.oracle.com/ResourceReservations/fetchResourceTypeRequest" message="tns:fetchResourceType"/>
<output wsam:Action="http://src.oracle.com/ResourceReservations/fetchResourceTypeResponse" message="tns:fetchResourceTypeResponse"/>
</operation>
<operation name="createReserveResource">
<input wsam:Action="http://src.oracle.com/ResourceReservations/createReserveResourceRequest" message="tns:createReserveResource"/>
<output wsam:Action="http://src.oracle.com/ResourceReservations/createReserveResourceResponse" message="tns:createReserveResourceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://src.oracle.com/ResourceReservations/createReserveResource/Fault/Exception"/>
</operation>
<operation name="updateReservationRequest">
<input wsam:Action="http://src.oracle.com/ResourceReservations/updateReservationRequestRequest" message="tns:updateReservationRequest"/>
<output wsam:Action="http://src.oracle.com/ResourceReservations/updateReservationRequestResponse" message="tns:updateReservationRequestResponse"/>
</operation>
<operation name="getCircuitInfo">
<input wsam:Action="http://src.oracle.com/ResourceReservations/getCircuitInfoRequest" message="tns:getCircuitInfo"/>
<output wsam:Action="http://src.oracle.com/ResourceReservations/getCircuitInfoResponse" message="tns:getCircuitInfoResponse"/>
</operation>
</portType>
<binding name="ResourceReservationsPortBinding" type="tns:ResourceReservations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fetchResourceType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReserveResource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateReservationRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCircuitInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ResourceReservationsService">
<port name="ResourceReservationsPort" binding="tns:ResourceReservationsPortBinding">
<soap:address location="http://172.21.141.103:7001/MssResourceReservations/ResourceReservationsService"/>
</port>
</service>
</definitions>