WSsSFtoM6Telefonia/WSsfm6Services/WSTelefonia/WSDL/TNAdapter.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions targetNamespace="http://src.oracle.com/" name="TNAdapterService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://src.oracle.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://src.oracle.com/" schemaLocation="../XSD/XMLSchema_-1432463528.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://xmlns.oracle.com/communications/inventory/webservice/tn"
            schemaLocation="../XSD/XMLSchema_75088281.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://xmlns.oracle.com/communications/mss/FaultManagementEntities"
            schemaLocation="../XSD/XMLSchema_1582640090.xsd"/>
</xsd:schema>
</types>
<message name="reserveTn">
<part name="parameters" element="tns:reserveTn"/>
</message>
<message name="reserveTnResponse">
<part name="parameters" element="tns:reserveTnResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="NamingException">
<part name="fault" element="tns:NamingException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getTnByRange">
<part name="parameters" element="tns:getTnByRange"/>
</message>
<message name="getTnByRangeResponse">
<part name="parameters" element="tns:getTnByRangeResponse"/>
</message>
<message name="getTnByASL">
<part name="parameters" element="tns:getTnByASL"/>
</message>
<message name="getTnByASLResponse">
<part name="parameters" element="tns:getTnByASLResponse"/>
</message>
<portType name="TNAdapter">
<operation name="reserveTn">
<input wsam:Action="http://src.oracle.com/TNAdapter/reserveTnRequest" message="tns:reserveTn"/>
<output wsam:Action="http://src.oracle.com/TNAdapter/reserveTnResponse" message="tns:reserveTnResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://src.oracle.com/TNAdapter/reserveTn/Fault/SQLException"/>
<fault message="tns:NamingException" name="NamingException" wsam:Action="http://src.oracle.com/TNAdapter/reserveTn/Fault/NamingException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://src.oracle.com/TNAdapter/reserveTn/Fault/Exception"/>
</operation>
<operation name="getTnByRange">
<input wsam:Action="http://src.oracle.com/TNAdapter/getTnByRangeRequest" message="tns:getTnByRange"/>
<output wsam:Action="http://src.oracle.com/TNAdapter/getTnByRangeResponse" message="tns:getTnByRangeResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://src.oracle.com/TNAdapter/getTnByRange/Fault/SQLException"/>
<fault message="tns:NamingException" name="NamingException" wsam:Action="http://src.oracle.com/TNAdapter/getTnByRange/Fault/NamingException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://src.oracle.com/TNAdapter/getTnByRange/Fault/Exception"/>
</operation>
<operation name="getTnByASL">
<input wsam:Action="http://src.oracle.com/TNAdapter/getTnByASLRequest" message="tns:getTnByASL"/>
<output wsam:Action="http://src.oracle.com/TNAdapter/getTnByASLResponse" message="tns:getTnByASLResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://src.oracle.com/TNAdapter/getTnByASL/Fault/SQLException"/>
<fault message="tns:NamingException" name="NamingException" wsam:Action="http://src.oracle.com/TNAdapter/getTnByASL/Fault/NamingException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://src.oracle.com/TNAdapter/getTnByASL/Fault/Exception"/>
</operation>
</portType>
<binding name="TNAdapterPortBinding" type="tns:TNAdapter">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reserveTn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="NamingException">
<soap:fault name="NamingException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTnByRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="NamingException">
<soap:fault name="NamingException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTnByASL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="NamingException">
<soap:fault name="NamingException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TNAdapterService">
<port name="TNAdapterPort" binding="tns:TNAdapterPortBinding">
<soap:address location="http://172.21.141.103:7001/tnReservation/TNAdapter"/>
</port>
</service>
</definitions>