WSsSFtoM6Telefonia/WSsfm6Services/WSTelefonia/WSDL/WSTelefoniaSFM6WSDL.wsdl

<wsdl:definitions name="WSTelefoniaSFM6" targetNamespace="http://xmlns.oracle.com/WSsSFtoM6Telefonia/WSsfm6Services/WSTelefoniaSFM6" xmlns:tns="http://xmlns.oracle.com/WSsSFtoM6Telefonia/WSsfm6Services/WSTelefoniaSFM6" xmlns:inp1="http://TargetNamespace.com/WSTelefoniaM6_reserveTn_request" xmlns:inp2="http://TargetNamespace.com/WSTelefoniaM6_UpdateReservationRequest_response" xmlns:inp3="http://TargetNamespace.com/WSTelefoniaM6_UpdateReservationRequest_request" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="WSTelefoniaSFM6">
        <plnk:role name="WSTelefoniaSFM6Provider" portType="tns:WSTelefoniaSFM6_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/WSTelefoniaM6_reserveTn_request" schemaLocation="../XSD/ReserveTnRequestXSD.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/WSTelefoniaM6_UpdateReservationRequest_response" schemaLocation="../XSD/GenericResponceXSD.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/WSTelefoniaM6_UpdateReservationRequest_request" schemaLocation="../XSD/UpdateReservationRequestXSD.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="reserveTn_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="reserveTn_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="reserveTn_faultMessage">
        <wsdl:part name="fault_fault" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateReservationRequest_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateReservationRequest_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateReservationRequest_faultMessage">
        <wsdl:part name="fault_fault" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="WSTelefoniaSFM6_ptt">
        <wsdl:operation name="reserveTn">
            <wsdl:input message="tns:reserveTn_inputMessage"/>
            <wsdl:output message="tns:reserveTn_outputMessage"/>
            <wsdl:fault name="fault" message="tns:reserveTn_faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateReservationRequest">
            <wsdl:input message="tns:updateReservationRequest_inputMessage"/>
            <wsdl:output message="tns:updateReservationRequest_outputMessage"/>
            <wsdl:fault name="fault" message="tns:updateReservationRequest_faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSTelefoniaSFM6_ptt-binding" type="tns:WSTelefoniaSFM6_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="reserveTn">
            <soap:operation soapAction="reserveTn"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateReservationRequest">
            <soap:operation soapAction="updateReservationRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>