ServiciosRestMultiUrl/ServiciosRestMultiUrl/Resources/RestServiceGet.wsdl

<wsdl:definitions name="RestServiceGet" targetNamespace="http://xmlns.oracle.com/ServiciosRestMultiUrl/ServiciosRestMultiUrl/RestServiceGet" xmlns:tns="http://xmlns.oracle.com/ServiciosRestMultiUrl/ServiciosRestMultiUrl/RestServiceGet" xmlns:inp1="http://TargetNamespace.com/RestServiceGet_GetEstado_request" xmlns:inp2="http://TargetNamespace.com/RestServiceGet_GetEstado_response" xmlns:inp3="http://TargetNamespace.com/RestServiceGet_Operation1_request" xmlns:inp4="http://TargetNamespace.com/RestServiceGet_Operation1_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="RestServiceGet">
        <plnk:role name="RestServiceGetProvider" portType="tns:RestServiceGet_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceGet_GetEstado_request" schemaLocation="nxsd_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceGet_GetEstado_response" schemaLocation="nxsd_schema2.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceGet_Operation1_request" schemaLocation="nxsd_schema3.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceGet_Operation1_response" schemaLocation="nxsd_schema4.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetEstado_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="GetEstado_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="getCiudad_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="getCiudad_outputMessage">
        <wsdl:part name="reply" element="inp4:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="RestServiceGet_ptt">
        <wsdl:operation name="GetEstado">
            <wsdl:input message="tns:GetEstado_inputMessage"/>
            <wsdl:output message="tns:GetEstado_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getCiudad">
            <wsdl:input message="tns:getCiudad_inputMessage"/>
            <wsdl:output message="tns:getCiudad_outputMessage"/>
            <wsdl:fault name="fault2" message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestServiceGet_ptt-binding" type="tns:RestServiceGet_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetEstado">
            <soap:operation soapAction="GetEstado"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCiudad">
            <soap:operation soapAction="getCiudad"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>