ServiciosRestMultiUrl/ServiciosRestMultiUrl/Resources/RestServiceGet.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://TargetNamespace.com/RestServiceGet_GetEstado_request" xmlns:ns0="http://TargetNamespace.com/RestServiceGet_Operation1_request" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestServiceGet">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceGet_GetEstado_request" schemaLocation="nxsd_schema1.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceGet_GetEstado_response" schemaLocation="nxsd_schema2.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceGet_Operation1_request" schemaLocation="nxsd_schema3.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceGet_Operation1_response" schemaLocation="nxsd_schema4.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/GetEstado">
         <method name="GET" soa:wsdlOperation="GetEstado">
            <request soa:paramElement="pns:Root-Element" xmlns:pns="http://TargetNamespace.com/RestServiceGet_GetEstado_request">
               <param name="Estado" style="query" soa:expression="$msg.request/tns:Estado" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/RestServiceGet_GetEstado_response"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault1"/>
         </method>
      </resource>
      <resource path="/GetCiudad">
         <method name="GET" soa:wsdlOperation="getCiudad">
            <request soa:paramElement="pns:Root-Element" xmlns:pns="http://TargetNamespace.com/RestServiceGet_Operation1_request">
               <param name="Ciudad" style="query" soa:expression="$msg.request/ns0:Ciudad" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/RestServiceGet_Operation1_response"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault2"/>
         </method>
      </resource>
   </resources>
</application>
