WSsSFtoM6Telefonia/Sfm6Services/WSTelefonia/Schemas/XMLSchema_-106985767.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema xmlns:ns0="http://bst.izzi.mx/ws/responses/modelos/NiRequestDetail" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bst.izzi.mx/ws/responses/modelos/NiRequestDetail"><xsd:element name="telNumRequestID" type="xsd:int"/><xsd:element name="identText" type="xsd:string"/><xsd:element name="formattedIdentText" type="xsd:string"/><xsd:element name="identTextSuffix" type="xsd:string"/><xsd:element name="niStatusAlphaCD" type="xsd:string"/><xsd:element name="niStatusDescr" type="xsd:string"/></xsd:schema>