WSsSFtoM6Telefonia/Sfm6Services/WSTelefonia/Schemas/XMLSchema_1582640090.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema xmlns:ns0="http://xmlns.oracle.com/communications/mss/FaultManagementEntities" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/communications/mss/FaultManagementEntities" elementFormDefault="qualified"><xsd:element name="Fault"><xsd:complexType><xsd:sequence><xsd:element name="faultcode" type="xsd:anyType"/><xsd:element name="faultstring" type="xsd:anyType"/><xsd:element name="detail" type="xsd:anyType"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>