WSsSFtoM6Telefonia/Sfm6Services/WSTelefonia/Schemas/XMLSchema_1714519281.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema targetNamespace="http://bst.izzi.mx/ws/responses" xmlns:ns0="http://bst.izzi.mx/ws/responses" xmlns:ns1="http://bst.izzi.mx/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import schemaLocation="XMLSchema_-1338642948.xsd" namespace="http://bst.izzi.mx/ws"/><xsd:element name="buscarGAInstanceByIdResponseArray" type="ns1:buscarGAInstanceByIdResponse"/><xsd:element name="buscarASLByValuesResponseArray" type="ns1:buscarASLByValuesResponse"/><xsd:element name="buscarNIRsByValuesResponse" type="ns1:buscarNIRsByValuesResponse"/><xsd:element name="telephoneNumberArray" type="ns1:buscarTelephoneNumberByValuesResponse"/></xsd:schema>