WSsSFtoM6Telefonia/Sfm6Services/WSTelefonia/Schemas/XMLSchema_1904148801.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema xmlns:ns0="http://modelos.izzi.mx/TelephoneNumber" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://modelos.izzi.mx/TelephoneNumber"><xsd:element name="nbrInvID" type="xsd:int"/><xsd:element name="nir" type="xsd:string"/><xsd:element name="serie" type="xsd:string"/><xsd:element name="linea" type="xsd:string"/><xsd:element name="sufix" type="xsd:string"/><xsd:element name="identText" type="xsd:string"/><xsd:element name="formattedIdentText" type="xsd:string"/><xsd:element name="telNbrTypeCD" type="xsd:string"/><xsd:element name="respOrg" type="xsd:string"/><xsd:element name="tniCategoryDesc" type="xsd:string"/><xsd:element name="tniSubcategoryDesc" type="xsd:string"/><xsd:element name="sfStrucFormatNm" type="xsd:string"/></xsd:schema>